In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('PakistanDroneAttacksWithTemp Ver 11 (November 30 2017).csv', encoding='unicode_escape')
df.drop(columns=['References', 'Temperature(C)', 'Temperature(F)', 'Comments', 'Special Mention (Site)'], inplace=True)
df.set_index('S#', inplace=True)
df.head(5)

,Date,Time,Location,City,Province,No of Strike,Al-Qaeda,Taliban,Civilians Min,Civilians Max,Foreigners Min,Foreigners Max,Total Died Min,Total Died Max,Injured Min,Injured Max,Women/Children,Longitude,Latitude
S#,,,,,,,,,,,,,,,,,,,
1,"Friday, June 18, 2004",22:00,Near Wana,south Waziristan,FATA,1.0,NaN,1.0,0.0,4.0,NaN,NaN,NaN,5.0,NaN,NaN,N,69.9000,33.0333
2,"Sunday, May 08, 2005",23:30,Mir Ali (Near Afghan Border),North Waziristan,FATA,1.0,1.0,NaN,0.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,N,70.1455,32.9746
3,"Thursday, December 01, 2005",NaN,Haisori- Miran Shah,North Waziristan,FATA,1.0,1.0,NaN,0.0,1.0,NaN,3.0,NaN,5.0,NaN,2.0,NaN,70.1455,32.9746
4,"Friday, January 06, 2006",NaN,Saidgai village- 115km north of Wana,North Waziristan,FATA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN,70.1455,32.9746
5,"Friday, January 13, 2006",3:00,Damadola Village,Bajaur Agency,FATA,1.0,NaN,NaN,0.0,18.0,NaN,NaN,NaN,18.0,NaN,2.0,Y,71.5000,34.6833

In [62]:
df.columns = df.columns.str.strip(' ') # Removing white spaces from start and end of column names
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '-')

In [63]:
df.columns

Index(['date', 'time', 'location', 'city', 'province', 'no-of-strike',
       'al-qaeda', 'taliban', 'civilians-min', 'civilians-max',
       'foreigners-min', 'foreigners-max', 'total-died-min', 'total-died-max',
       'injured-min', 'injured-max', 'women/children', 'longitude',
       'latitude'],
      dtype='object')

In [64]:
df.isna().sum()

date                1
time              231
location            2
city                1
province           16
no-of-strike       16
al-qaeda          323
taliban           279
civilians-min      84
civilians-max      61
foreigners-min    327
foreigners-max    280
total-died-min    112
total-died-max     18
injured-min       275
injured-max       144
women/children     84
longitude          31
latitude           31
dtype: int64

We have found that there is 1 negative value in civilians-min and 4 rows of negative values in
civilians-max

In [65]:
negative_values = df.loc[:,df.dtypes == 'float64'] < 0
negative_values.sum()

no-of-strike      0
al-qaeda          0
taliban           0
civilians-min     1
civilians-max     4
foreigners-min    0
foreigners-max    0
total-died-min    0
total-died-max    0
injured-min       0
injured-max       0
longitude         0
latitude          0
dtype: int64

In [66]:
df.describe()

,no-of-strike,al-qaeda,taliban,civilians-min,civilians-max,foreigners-min,foreigners-max,total-died-min,total-died-max,injured-min,injured-max,longitude,latitude
count,405.000000,98.0000,142.000000,337.000000,360.000000,94.000000,141.000000,309.000000,403.000000,146.000000,277.000000,390.000000,390.000000
mean,1.451852,1.0000,9.338028,7.750742,14.133333,1.446809,5.276596,12.595469,18.168734,5.506849,9.595668,68.577738,34.508821
std,1.117271,5.0889,55.482268,71.109052,133.966732,7.091744,31.332344,110.469782,182.093427,33.277568,79.729995,7.433532,7.289065
min,1.000000,0.0000,0.000000,-4.000000,-6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.896179,25.678480
25%,1.000000,0.0000,0.000000,0.000000,3.000000,0.000000,0.000000,3.000000,5.000000,0.000000,2.000000,69.900000,32.974600
50%,1.000000,0.0000,4.000000,3.000000,5.000000,0.000000,2.000000,5.000000,6.000000,2.000000,4.000000,70.145500,32.974600
75%,1.000000,0.0000,7.000000,5.000000,8.250000,0.750000,4.000000,8.000000,10.500000,4.000000,6.000000,70.145500,33.033300
max,8.000000,49.0000,663.000000,1306.000000,2544.000000,68.000000,372.000000,1946.000000,3661.000000,402.000000,1329.000000,71.500000,70.540720